<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>MOODENG</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>

<table>
    <tr th:each="item:${files}">
        <td th:text="${item.getName()}"></td>
        <td><a th:href="'/download?name='+${item.getName()}">download</a> </td>
        <td><a th:href="'/delete?name='+${item.getName()}">delete</a> </td>
    </tr>
</table>
</body>
<style>

</style>
</html>